h1, h2, .row-cols-md-4, .modal-title, .card-header>h4 {
    color: #5275e0;
}

th, td {
    word-break: keep-all;word-wrap:break-word;
    /*text-align: center;*/
}

#main_td{
    white-space: nowrap;
}

#center{
    text-align: center;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}

#money, ::placeholder, #h1_center{
    text-align: center;
}
.bi-trash3{
    color: red;
}

#without_underline{
    text-decoration:none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*
.nav-link {
    color: #99ff99;
}

.nav-link:hover {
    background-color: #ffff4d;
}
*/